{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Student Life Cycle Management System</h2>
    <p class="lead">Student Life Cycle Management System or SLCM is a website desgined to cater to the academic needs of a student studying at a university.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Not sure how well you performed in your last test?</h3>
        <p>
            SLCM provides a powerful user interface which allows students to view how well they've performed and where they stand after each test.
        </p>
        <img src="https://iili.io/HUuvWRp.png" alt="HUuvWRp.png" border="0">
    </div>
    <div class="col-md-6">
        <h3>Feeling a little under the weather or planning a trip with your friends?</h3>
        <p>Check your attendance and see how many classes you have attended and whether or not you can bunk your next lecture!</p>
        <img src="https://iili.io/HUuv4bS.md.png" alt="HUuv4bS.md.png" border="0">
    </div>
</div>

{% endblock %}