{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

{% if form.errors %}
<div class="alert alert-danger">
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
    <strong>{{ field|title }}:</strong> {{ error }}<br>
    {% endfor %}
    {% endfor %}
</div>
{% endif %}

<style>
    .mycont {
        background-color: #FEFAE0;
        border: double;
        padding: 10px;
        box-shadow: 5px 10px #888888;
        width: 50%;
        border-radius: 20px;
    }

    .form-group {
        font-size: 120%;
    }

    marquee {
        background-color: red;
        color: white;
        vspace: 20%;
    }

    .my-btn {
        background-color: #A2A378;
        color: black;
        width: 100px;
    }
        .my-btn:hover {
            background-color: #83764F;
            color: white;
        }
</style>

<center>
    <h3><marquee scrollamount="10">Get Yourself Registered By The Admin!!</marquee></h3>
    <div class="container mycont">
        <section id="loginForm">
            <form action="{% url 'portfolio'%}" method="post" class="form-horizontal">
                {% csrf_token %}
                <h3>Use your registration number to login.</h3>
                <hr />
                <div class="form-group">
                    <div class="col-md-4"><label for="id_username" class="control-label">Username</label></div>
                    <div class="col-md-8">{{ form.reg_no }}</div>
                </div>
                <div class="form-group">
                    <div class="col-md-4"><label for="id_password" class="control-label">Password</label></div>
                    <div class="col-md-8">{{ form.pswd }}</div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="next" value="/" />
                    <input type="submit" value="Log in" class="btn my-btn" />
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
        <div class="col-md-4">
            <section id="socialLoginForm"></section>
        </div>
    </div>
</center>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}